<div class="section-flag-select">
  <div class="container">
    <div class="step">
      <div class="row">
        <div class="col text-center p-2">
          <h6>Kennen Sie unseren kostenfreien Finanztest?</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding p-2">
            <span>
              Testen Sie sich und finden Sie sofort heraus, ob in Ihnen ein Immobilien Investor steckt.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding p-2">
            <span>
              In drei einfachen Schritten erfahren Sie, wie sich ein Immobilieninvestment fur Sie finanziell rechnet.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding p-2">
            <span>
              Sie erhalten eine iIndividuelle, kostenfreie Investmentanalyse direkt als pdf zugesendet.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn-green large-btn" (click)="goToInfoFlow('euro')">
            <span class="mobile-hide">Test Starten</span>
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <!-- <div class="fixed-bottom">
      <div class="row">
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Kostenfrei.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Individuelles Ergebnis als pdf.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Ihre Daten werden sind sicher und werden nicht an dritte
            weitergegeben.
          </h6>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>