.section-flag-select {
  background-image: url("/assets/img/flag-page-bg-2.jpg");
  height: 100vh;
}

.heading {
  font-weight: bold  
}
.image-40-per{
  width: 40%
}

.image-40-per:hover{
  opacity: 1;
}

.image-64-per {
  width: 64%
}

.image-64-per:hover{
  opacity: 1;
}

.image-opacity{
  opacity: 0.8;
}

.opacity{
  opacity: 1;
}

.flag-row {
  padding-top: 10%;
}

.footer-text{
  font-size: medium;
}

.fa-width {
  width: 30px ;
  font-size:20px;
  color: #459037;
}
.fixed-bottom{
  background: #dcdcdc;
}
