.section-flag-select {
}

.default-site-color {
  color: #28395e;
}

.heading {
  font-weight: bold ;
  font-family: montserrat, sans-serif;
}
.image-40-per{
  width: 40%
}

.image-40-per:hover{
  opacity: 1;
}

.image-64-per {
  width: 64%
}

.image-64-per:hover{
  opacity: 1;
}

.image-opacity{
  opacity: 0.8;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.opacity{
  opacity: 1;
}

.flag-row {
  padding-top: 10%;
}

.footer-text{
  font-size: medium;
}

.fa-width {
  width: 30px ;
  font-size:20px;
  color: #45d082;
}

footer-text {
  font-family: moteserrate, sans-serif;
}

@media screen and (max-width: 600px) {
  .fixed-bottom {
    visibility: hidden;
  }
}
@media screen and (min-width: 600px) {
  .step {
    width: 85%;
    margin: 2rem auto;
  }

}

.swiss-flag {
  padding-top: 2rem;
}


.buttons-container {
  display: flex;
}

.btn-green {
  background-color: #a29c9c;
  color: white;
  cursor: pointer;
}

.btn-green:hover {
  background: #00800ab0;
}

.large-btn {
  font-size: 20px;
  font-weight: 600;
  height: 45px;
  width: 35%;
  margin-top: 5%;
  background: #45d082;
}

.step {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 3rem 1.5rem;
  margin: 2rem auto;
  border: 1px solid #49505752;
  font-family: "Montserrat";
}

@media screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
  .large-btn {
    width: 50%;
  }
}


@media screen and (min-width: 600px) {
  .text-padding{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: #28395e;
  }
}

.welcome-list {
  list-style: none;
  text-align: left;
  
  display: inline-flex;
}

.welcome-list-li {
  color: #00800ab0;
}