<div class="section-flag-select">
  <div class="container">
    <div class="step">
      <div class="row">
        <div class="col text-center p-2">
          <h6 class="default-site-color">
            Wissen Sie wie viel Rendite ein Immobilieninvestment erwirtschaftet?
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding p-2">
            <span class="default-site-color">
              Mit unserem Renditerechner finden Sie sofort heraus, welche
              Rendite Immobilien erwirtschaften können. In drei einfachen
              Schritten erfahren Sie, wie sich ein Immobilieninvestment auch für
              Sie finanziell rechnen kann.Sie erhalten eine individuelle und
              kostenfreie Investmentanalyse direkt als pdf Datei per Mail
              zugesendet.
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
          <div class="text-padding p-4">
            <span class="welcome-list-li default-site-color"> &#10004; </span>Ihre Daten sind
            sicher.
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
          <div class="text-padding p-4">
            <span class="welcome-list-li default-site-color"> &#10004; </span>Ihre Daten werden
            nicht an Dritte weitergegeben.
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
          <div class="text-padding p-4">
            <span class="welcome-list-li default-site-color"> &#10004; </span>Ihre Daten werden nur
            zu internen Zwecken genutzt.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn-green large-btn" (click)="goToInfoFlow('euro')">
            <span class="mobile-hide">Test starten</span>
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <!-- <div class="fixed-bottom">
      <div class="row">
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Kostenfrei.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Individuelles Ergebnis als pdf.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Ihre Daten werden sind sicher und werden nicht an dritte
            weitergegeben.
          </h6>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>