<div class="section-flag-select">
  <div class="container">
    <div class="row">
      <div class="col-10 text-center">
        <div class="typography-line">
          <h3>
            <span class="heading">Aus welchem Land besuchst Du uns?</span>
          </h3>
        </div>
      </div>
    </div>

    <div class="row flag-row">
      <div class="col-6 text-center">
        <a (click)="goToInfoFlow('swiss')">
          <img src="assets/img/flag-1.png" alt="flag-a" class="image-40-per image-opacity">
        </a>
      </div>
      <div class="col-6 text-center">
        <a (click)="goToInfoFlow('euro')">
          <img src="assets/img/flag-2.png" alt="flag" class="image-64-per image-opacity">
        </a>
      </div>
    </div>
    <div class="fixed-bottom">
      <div class="row">
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Kostenfrei.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Individuelles Ergebnis als pdf.
          </h6>
        </div>
        <div class="col text-center">
          <h6>
            <i class="fa fa-check-circle fa-width"></i> Ihre Daten werden sind sicher und werden nicht an dritte
            weitergegeben.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>