.site-logo {
  width: 50vh;
  margin-left: -10%;
}

.site-right-logo{
  color: #6cc47f;
  font-size: 18px;
  font-weight: 700;
  font-family: lora;
  margin-left: 0.7em;
}

.site-right-logo-box {
  padding-left: 25%; 
}

.right-logos {
  padding-top: 1%;
}

.header-para{
  margin-left: 4.5em;
  color: #606060;;
  font-size: 14px;
  font-family: lora;
}

.header-para-mobile{
  margin-left: 1em;
  font-size: 15px;
  color: #606060;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.header-menu {
  background-color: #28395e;
  color: #ffffff;
  border-radius: 10px;
  padding: 2%;
}

.menu-title{
  cursor: pointer;
  font-family: lora;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.mobile-menu-tag {
  cursor: pointer;
  font-family: lora;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  color: #fff;
  color: #fff; 
  font-size: 22px;
}

.menu-title:hover {
  border-bottom: 3px solid #ffffff;
}

.selected-menu{
  border-bottom: 3px solid #ffffff;
}

.right-logos {
  color: #6cc47f;
}

.right-logos1{
  font-size: 25px ;
  width: 50px;
  height: 50px;
  border-radius: 48%;
  text-align: center;
  line-height: 50px;
  border: 1px solid #6cc47f;
  vertical-align: middle;
}
.mobile-menu {
  visibility: hidden;
}

.site-logo-mobile {
  width: 100%;
  margin-left: 1%;
}
@media screen and (max-width: 600px) {
  .menu-title {
    display: none;
  }
  .mobile-menu {
    visibility: visible !important;
  }
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .mobile-header {
    display: none !important;
  }
}