.section.user-info {
  // background: hsl(0, 0%, 86%);
  // height: 100vh;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .section.user-info {
    height: 100%;
  }
  .dot {
    display: none !important;
  }
}
.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 500;
  padding: 1px;
  margin: 0 4px;
  display: inline-block;
  color: #fff;
  border: 1px solid #222;
  cursor: pointer;
}

.inactive {
  background-color: #222222;
}

.active {
  background-color: #45d082;
}

.step-1-elem {
  cursor: pointer;
}

.step-1-col {
  margin-bottom: 3%;
}

.step-1-ul {
  padding: 15%;
}
.step-1-elem {
  background: #6cc47f;
  height: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.step-1-col :hover {
  // background: #45d082;
}

li {
  color: #fff;
  font-size: larger;
}

.step-1-p-text {
  font-weight: 500;
}

// text styles
.white-text {
  color: #ffffff;
  font-weight: 500;
  font-family: montserrat;
}

.theme-text {
  color: #222222;
}

// step-2
.step {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  margin: 2rem;
  border: 1px solid #49505752;
  font-family: "Montserrat";
}

// media query
@media screen and (max-width: 600px) {
  .step-2 .col-sm-12 {
    padding-left: 10%;
  }
  .large-btn {
    width: 100% !important;
  }
  .step {
    padding: 3rem 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .step {
    width: 85%;
    margin: 2rem auto;
  }
  .step {
    padding: 3rem 3.5rem;
  }
}

.money-tree {
  width: 50%;
}
.pig {
  width: 50%;
}

.dot-step-3 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 500;
  padding: 1px;
  margin: 0 4px;
  display: inline-block;
  color: #fff;
  border: 1px solid #222;
  cursor: pointer;
  padding-left: 12px;
  background: #45d082;
}

.custom-range-input {
  width: 100%;
  margin-bottom: 5%;
}
.input-col {
  padding-left: 8%;
}

.money-display {
  font-size: x-large;
  color: #fff;
  font-weight: 500;
}

.money-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.p-4rem {
  padding-top: 0.4rem;
}

.chart-canvas {
  height: 55vh;
  width: 100%;
}
.form-input-last {
  padding-right: 7%;
  padding-top: 2%;
}

.landing-page::placeholder {
  color: #66615b;
  font-style: italic;
}

.p-t-5 {
  padding: 2%;
}

.text-padding {
  padding: 0 15% 0 15%;
}

// steps - 1,2,3
.form-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-group-title {
  font-size: 15px;
  font-weight: 600;
  padding: 0.5rem;
}

.row-container {
  background-color: #adb5bd6e;
}

.right-side {
  margin-left: auto;
}

.fa-chevron-right {
  font-size: 20px;
}
.form-container {
  font-size: 13px;
}

.text-center {
  text-align: center;
}

.btn-green {
  background-color: #00800ab0;
  color: white;
}

.small-font {
  font-size: 11px;
}

.buttons-container {
  display: flex;
}

.input-group-text {
  background-color: white;
  border: 2px solid !important;
  border-left: none !important;
  border-radius: 0;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.form-control {
  border: 2px solid;
}

.no-right-border {
  border-right: none !important;
  text-align: right;
}

.display-email {
  color: #45d082;
  border: 2px solid #45d082;
  width: 50%;
  margin: 0 auto;
}
.newsletter-box {
  background: #45d082;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.newsletter-box-subheading {
  padding: 5%;
}

// flag screen
.section-flag-select {
  height: 100vh;
}

.heading {
  font-weight: bold;
  font-family: montserrat, sans-serif;
}
.image-40-per {
  width: 40%;
}

.image-40-per:hover {
  opacity: 1;
}

.image-64-per {
  width: 64%;
}

.image-64-per:hover {
  opacity: 1;
}

.image-opacity {
  opacity: 0.8;
  cursor: pointer;
}

.opacity {
  opacity: 1;
}

.flag-row {
  padding-top: 10%;
}

.footer-text {
  font-size: medium;
}

.fa-width {
  width: 30px;
  font-size: 20px;
  color: #45d082;
}

footer-text {
  font-family: moteserrate, sans-serif;
}

@media screen and (max-width: 600px) {
  .fixed-bottom {
    visibility: hidden;
  }
  .mobile-hide {
    display: none;
  }
  .display-email {
    width: 100%;
    font-size: 0.7em;
  }
  .step {
    margin: 0rem;
  }
  .text-padding {
    padding: 0 0 0 0;
  }
}

.buttons-container {
  display: flex;
}

.btn-green {
  background-color: #a29c9c;
  color: white;
  cursor: pointer;
}

.btn-green:hover {
  background: #00800ab0;
}

.large-btn {
  font-size: 1em;
  height: 45px;
  width: 50%;
  margin-top: 5%;
  font-weight: 600;
  background: #00800ab0;
}

.flag-heading-swiss {
  margin-top: 15%;
}

.flag-heading-germany {
  margin-top: 25%;
}

.facebook-logo {
  width: 100%;
  margin-bottom: 1rem;
}

.diff-view {
  .form-group-title {
    height: 100px;
    word-wrap: break-word;
  }
  .radio-inline {
    height: 50px;
    margin-bottom: 3rem;
  }
}

// @media screen and (min-width: 600px) {
//   .step-2 {
//     padding: 1rem;
//   }
// }

@media screen and (max-width: 800px) {
  .step-2 {
    padding: 1rem;
  }
  .form-group-title {
    height: auto;
    word-wrap: break-word;
  }
  .radio-inline {
    height: auto;
    margin-bottom: 3rem;
  }
}

// Range styles

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #28395e;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  -webkit-appearance: none;
  z-index: -100;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  height: 8.4px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.form-control {
  border-radius: 0px;
}
.swiss-flag {
  margin-bottom: 5%;
}
.swiss-flag-heading {
  margin-top: 9%;
}
.country-name {
  font-weight: 500;
  font-family: montserrat, sans-serif;
}
