<div class="section user-info">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <button type="button" class="btn btn-success btn-round" (click)="nextNBack(back)">
          Back
        </button>
      </div>
      <div class="col text-center">
        <span class="dot" [ngClass]="[stepNumber == 1 ? 'active' : 'inactive']" (click)="goToStep(1)">1</span>
        <span class="dot" [ngClass]="[stepNumber == 2 ? 'active' : 'inactive']" (click)="goToStep(2)">2</span>
        <!-- <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)=goToStep(3)>3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)=goToStep(4)>4</span> -->
        <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)="goToStep(3)">3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)="goToStep(4)">4</span>
        <span class="dot" [ngClass]="[stepNumber == 5 ? 'active' : 'inactive']" (click)="goToStep(5)">5</span>

      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-success btn-round" (click)="nextNBack(next)">
          Next
        </button>
      </div>
    </div>
    <div class="row step step-1" *ngIf="stepNumber == 1">
      <div class="col-md-12 text-center">
        <span class="heading">Aus welchem Land besuchst Du uns?</span>
      </div>

      <div class="row flag-row">

        <div class="col-md-6 text-center swiss-flag">
          <a (click)="goToInfoFlow('euro')">
            <img src={{swissFlagUrl}} (mouseenter)="swissFlag(1)" (mouseleave)="swissFlag(2)" (click)="nextNBack(next)"
              alt="flag" class="image-64-per image-opacity">
          </a>
          <!-- <h2 class="flag-heading-germany">Schweiz</h2> -->
          <div class="swiss-flag-heading"><span class="country-name">Schweiz</span></div>

          <button type="button" class="btn-green large-btn mobile-hide" (click)="nextNBack(next)">
            Zurück
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-6 text-center">
          <a (click)="goToInfoFlow('swiss')">
            <img src={{germanFlagUrl}} (mouseenter)="germanFlag(1)" (mouseleave)="germanFlag(2)" alt="flag-a" (click)="nextNBack(next)"
              class="image-40-per image-opacity">
          </a>
          <!-- <h2 class="flag-heading-swiss">Deutschland</h2> -->
          <div><span class="country-name">Deutschland</span></div>

          <button type="button" class="btn-green large-btn mobile-hide" (click)="nextNBack(next)">
            Nächster Schritt <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="step-2 step shadow" *ngIf="stepNumber == 2">
      <p class="form-title">Fragen zu Iher Person</p>
      <form class="form-container">

        <!-- From Here -->
        <div class="row">
          <div class="col-md-2 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Familienstand</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="single" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="single" />
                <label for="single">Ich bin Single</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="inRelation" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="inRelation" />
                <label for="inRelation">Ich lebe in einer Beziehung</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="married" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="married" />
                <label for="married">Ich bin verheiratet</label>
              </span>
            </div>
          </div>

          <div class="col-md-2 diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Alter</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="middle" name="age" [(ngModel)]="formData.age" value="20-35" />
                <label for="middle">20-35 Jahre</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="aboveMiddle" name="age" [(ngModel)]="formData.age" value="36-45" />
                <label for="aboveMiddle">36-45 Jahre</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="aged" name="age" [(ngModel)]="formData.age" value="46-60" />
                <label for="aged">46-60 Jahre</label>
              </span>
            </div>
          </div>

          <div class="col-md-2 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Kinder</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noChild" name="children" [(ngModel)]="formData.children" value="no" />
                <label for="noChild">Keine Kinder</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="lessChildren" name="children" [(ngModel)]="formData.children" value="1-2" />
                <label for="lessChildren">1-2 Kinder</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="moreChildren" name="children" [(ngModel)]="formData.children" value="3-4" />
                <label for="moreChildren">3-4 Kinder</label>
              </span>
            </div>
          </div>

          <div class="col-md-3 diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">
                Erfahrung Immobilien Investitionem
              </p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="no" />
                <label for="noExp">Keine Erfahrung</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="lessExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="1-2" />
                <label for="lessExp">Bereits in 1-2 Immobilien Investiert</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="moreExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="3-4" />
                <label for="moreExp">Bereits in 3-4 Immobilien Investiert</label>
              </span>
            </div>
          </div>

          <div class="col-md-3 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Risikobereitschaft</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noRisk" name="riskTaker" [(ngModel)]="formData.riskTaker" value="no" />
                <label for="noRisk">Ungern Risiko</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="transparent" name="riskTaker" [(ngModel)]="formData.riskTaker" value="transparent" />
                <label for="transparent">Ja. wenn Risiken transparent sind Investiert</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="returns" name="riskTaker" [(ngModel)]="formData.riskTaker" value="returns" />
                <label for="returns">Ja. wenn dies die Rendite-Chance erhoht</label>
              </span>
            </div>
          </div>

        </div>
        <!-- Upto Here -->

        <!-- <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Familienstand</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="single" />
            Ich bin Single
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="inRelation" />
            Ich lebe in einer Beziehung
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="married" />
            Ich bin verheiratet
          </label>
        </div> -->

        <!--<div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Alter</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="age" [(ngModel)]="formData.age" value="20-35" />
            20-35 Jahre
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="age" [(ngModel)]="formData.age" value="36-45" />
            36-45 Jahre
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="age" [(ngModel)]="formData.age" value="46-60" />
            46-60 Jahre
          </label>
        </div> -->

        <!-- <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Kinder</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="children" [(ngModel)]="formData.children" value="no" />
            Keine Kinder
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="children" [(ngModel)]="formData.children" value="1-2" />
            1-2 Kinder
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="children" [(ngModel)]="formData.children" value="3-4" />
            3-4 Kinder
          </label>
        </div> -->

        <!-- <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">
            Erfahrung Immobilien Investitionem
          </p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="no" />
            Keine Erfahrung
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="1-2" />
            Bereits in 1-2 Immobilien Investiert
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="3-4" />
            Bereits in 3-4 Immobilien Investiert
          </label>
        </div> -->

        <!-- <div class="row row-container mb-4">
          <p class="form-group-title col-md-12 ml-2">
            Risikobereitschaft
          </p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="riskTaker" [(ngModel)]="formData.riskTaker" value="no" />
            Ungern Risiko
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="riskTaker" [(ngModel)]="formData.riskTaker" value="transparent" />
            Ja. wenn Risiken transparent sind Investiert
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="riskTaker" [(ngModel)]="formData.riskTaker" value="returns" />
            Ja. wenn dies die Rendite-Chance erhoht
          </label>
        </div> -->

        <div class="row buttons-container">
          <div class="col col col-md-6 col-sm-6 text-center">
            <button type="button" class=" btn-green large-btn" (click)="nextNBack(back)">
              Zuruck <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col col col-md-6 col-sm-6 text-center">
            <button type="button" class=" btn-green large-btn" (click)="nextNBack(next)">
              Nachster Schritt
              <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 3">

      <p class="form-title">Finanzielle Angaben</p>

      <div class="row">
        <p class="form-group-title col-md-12">
          Ihre Rucklagen heute
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="text" class="form-control no-right-border" [(ngModel)]="formData.reservesToday" />
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" [(ngModel)]="formData.reservesTodayRange" class="custom-range custom-range-input"
            id="reservesTodayRange" />
        </div>
      </div>

      <div class="row">
        <p class="form-group-title col-md-12">
          Gewunschtes Vermogen nach 10 Jahren
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="text" class="form-control no-right-border" [(ngModel)]="formData.desiredProperty" />
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" [(ngModel)]="formData.desiredPropertyRange" class="custom-range custom-range-input"
            id="desiredPropertyRange" />
        </div>
      </div>

      <div class="row mb-4">
        <p class="form-group-title col-md-12">
          Wieviel wurden Sie heute fur Ihren Vermogensaufbau investieren?
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="text" class="form-control no-right-border" [(ngModel)]="formData.spend" />
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" [(ngModel)]="formData.assetAccumulation" class="custom-range custom-range-input"
            [(ngModel)]="formData.spendRange" id="spendRange" />
        </div>
      </div>

      <div class="row buttons-container">
        <div class="col col col-md-6 col-sm-6 text-center">
          <button type="button" class=" btn-green large-btn" (click)="nextNBack(back)">
            Zuruck <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col col col-md-6 col-sm-6 text-center">
          <button type="button" class=" btn-green large-btn" (click)="nextNBack(next)">
            Nachster Schritt
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="step-3 step" *ngIf="stepNumber == 4">
      <p class="form-title">Ihre Kontaktdaten</p>
      <p class="text-center pt-2">
        Der Marktwert Ihrer Immobilie wird nun berechnet.
      </p>
      <p class="text-center pt-1">Wer soll die Auswertung erhalten?</p>

      <div class="text-center pt-4">
        <span class="radio-inline mr-3">
          <input type="radio" id="female" name="optradio" [(ngModel)]="formData.gender" [value]="1" />
          <label for="female">Frau</label>
        </span>
        <span class="radio-inline">
          <input type="radio" id="male" name="optradio" [(ngModel)]="formData.gender" [value]="2" />
          <label for="male">Herr</label>
        </span>
      </div>

      <div class="text-center pt-4 row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="vorname" placeholder="Vorname*" [(ngModel)]="formData.firstName" />
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="nachname" placeholder="Nachname*" [(ngModel)]="formData.lastName" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" [(ngModel)]="formData.email" id="email" placeholder="E-Mail-Adresse*" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="teleNumber" [(ngModel)]="formData.teleNumber" placeholder="Telefonnummer*" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" style="text-align: right; font-size: 12px; opacity: 0.5; margin-top: -12px">
          Pflichtfeld
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8 checkbox-container">
            <input type="checkbox" value="" [(ngModel)]="formData.acceptCond" id="acceptCond" />
            <label for="acceptCond" class="small-font">Ich habe die Datenschutzerklarung gelesen und willige ein. class
                meine personenbezogenen Daten zur Kontaktaufnahme und Zusendung
                von Informationen verarbeitet werden. Ich kann diese Einwilligung
                jederzeit mit einer E-Mail an info@verumvest.com widerrufen.</label>
        </div>
      </div>

      <div class="text-center pt-4">
        <button type="submit" class="large-btn btn-green" (click)="nextNBack(next)">
          Absenden <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 5">
      <div class="row">
        <div class="col text-center p-t-5">
          <h6>Veilen DankFur lhre Angaben</h6>
          <span>Hallo Max Mustermann,</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding">
            <span>
              danke das Sie unseren Finanztest erfolgreich abgeschlossen haben.
              Wir freuen uns sehr daruber, dass Sie sich fur
              Immobilieninvestments interessieren.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center p-t-5">
          <span>
            Sie erhalten Ihre kostenfreie Investmentanalyse an folgende
            E-Mail-Adresse:
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col p-t-5">
          <h6 class="display-email text-center">
            max.mustermann@muster.de
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="facebook-logo" src="assets/img/facebook-logo.jpg" alt="flag-a" width="100%">
        </div>
        <div class="col-md-6 newsletter-box">
          <div class="newsletter-box"></div>
          <div class="newsletter-box-subheading">
            <span>
              Unseren Newsletter abonnieren und keine News verpassen!
            </span>
          </div>
          <div class="text-center">
            <h6>Jetzt eintragen ></h6>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col text-left">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(back)>Back</button>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(next)>Next</button>
      </div>
    </div> -->
  </div>
</div>