<div class="section user-info">
  <div class="container">
    <!-- <div class="row">
      <div class="col text-left">
        <button type="button" class="btn btn-success btn-round" (click)="nextNBack(back)">
          Back
        </button>
      </div>
      <div class="col text-center"> -->
    <!-- <span class="dot" [ngClass]="[stepNumber == 1 ? 'active' : 'inactive']" (click)="goToStep(1)">1</span>
        <span class="dot" [ngClass]="[stepNumber == 2 ? 'active' : 'inactive']" (click)="goToStep(2)">2</span> -->
    <!-- <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)=goToStep(3)>3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)=goToStep(4)>4</span> -->
    <!-- <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)="goToStep(3)">3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)="goToStep(4)">4</span>
        <span class="dot" [ngClass]="[stepNumber == 5 ? 'active' : 'inactive']" (click)="goToStep(5)">5</span> -->

    <!-- </div>
      <div class="col text-right">
        <button type="button" class="btn btn-success btn-round" (click)="nextNBack(next)">
          Next
        </button>
      </div>
    </div> -->
    <div class="row step step-1" *ngIf="stepNumber == 1">
      <div class="col-md-12 text-center">
        <span class="heading">Aus welchem Land kommen Sie?</span>
      </div>

      <div class="row flag-row">

        <div class="col-md-6 text-center swiss-flag">
          <a (click)="goToInfoFlow('euro')">
            <img src={{swissFlagUrl}} (mouseenter)="swissFlag(1)" (mouseleave)="swissFlag(2)" (click)="chooseCountry('CHf')"
              alt="flag" class="image-64-per image-opacity">
          </a>
          <!-- <h2 class="flag-heading-germany">Schweiz</h2> -->
          <div class="swiss-flag-heading"><span class="country-name">Schweiz</span></div>

          <button type="button" class="btn-green large-btn mobile-hide" (click)="chooseCountry('CHf')">
            Schweiz
          </button>
        </div>
        <div class="col-md-6 text-center">
          <a (click)="goToInfoFlow('swiss')">
            <img src={{germanFlagUrl}} (mouseenter)="germanFlag(1)" (mouseleave)="germanFlag(2)" alt="flag-a" (click)="chooseCountry('€')"
              class="image-40-per image-opacity">
          </a>
          <!-- <h2 class="flag-heading-swiss">Deutschland</h2> -->
          <div><span class="country-name">Deutschland</span></div>

          <button type="button" class="btn-green large-btn mobile-hide" (click)="chooseCountry('€')">
            Deutschland
          </button>
        </div>
      </div>
    </div>
    <div class="step-2 step shadow" *ngIf="stepNumber == 2">
      <p class="form-title">Fragen zu Ihrer Person</p>
      <form class="form-container">

        <!-- From Here -->
        <div class="row">
          <div class="col-md-2 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Familienstand</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="single" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="single" />
                <label for="single">Single</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="inRelation" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="inRelation" />
                <label for="inRelation">Beziehung</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="married" name="maritalStatus" [(ngModel)]="formData.maritalStatus" value="married" />
                <label for="married">Verheiratet</label>
              </span>
            </div>
          </div>

          <div class="col-md-2 diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Alter</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="middle" name="age" [(ngModel)]="formData.age" value="20-35" />
                <label for="middle">20-35 Jahre</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="aboveMiddle" name="age" [(ngModel)]="formData.age" value="36-45" />
                <label for="aboveMiddle">36-45 Jahre</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="aged" name="age" [(ngModel)]="formData.age" value="46-60" />
                <label for="aged">46-60 Jahre</label>
              </span>
            </div>
          </div>

          <div class="col-md-2 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Kinder</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noChild" name="children" [(ngModel)]="formData.children" value="keine" />
                <label for="noChild">0 </label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="lessChildren" name="children" [(ngModel)]="formData.children" value="1-3" />
                <label for="lessChildren">1 - 2</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="moreChildren" name="children" [(ngModel)]="formData.children" value="4+" />
                <label for="moreChildren">2+</label>
              </span>
            </div>
          </div>

          <div class="col-md-3 diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">
                Immobilienerfahrung
              </p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="Nein" />
                <label for="noExp">0</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="lessExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="1-2" />
                <label for="lessExp">1 - 2</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="moreExp" name="realEstateExp" [(ngModel)]="formData.realEstateExp" value="3-4" />
                <label for="moreExp">2+</label>
              </span>
            </div>
          </div>

          <div class="col-md-3 row-container diff-view pl-3">
            <div class="row">
              <p class="form-group-title col-md-12">Risikobereitschaft</p>
              <span class="radio-inline col-md-12">
                <input type="radio" id="noRisk" name="riskTaker" [(ngModel)]="formData.riskTaker" value="Nein" />
                <label for="noRisk">nein</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="transparent" name="riskTaker" [(ngModel)]="formData.riskTaker" value="kalkulierbares-Risiko" />
                <label for="transparent">gelegentlich</label>
              </span>
              <span class="radio-inline col-md-12">
                <input type="radio" id="returns" name="riskTaker" [(ngModel)]="formData.riskTaker" value="ja" />
                <label for="returns">ja</label>
              </span>
            </div>
          </div>

        </div>
        <!-- Upto Here -->


        <div class="row buttons-container">
          <div class="col col-md-6 col-sm-6 text-center">
            <button type="button" class=" btn-green large-btn" (click)="nextNBack(back)">
              <i class="fa fa-chevron-left pl-2" aria-hidden="true"></i> &nbsp; &nbsp; Zurück
            </button>
          </div>
          <div class="col col-md-6 col-sm-6 text-center">
            <button type="button" class=" btn-green large-btn" (click)="nextNBack(next)">
              Nächster Schritt
              <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 3">

      <p class="form-title">Finanzielle Angaben</p>

      <!-- <div class="row">
        <p class="form-group-title col-md-12">
          Ihre Rucklagen heute
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="number" min="1" max="1000000" class="form-control no-right-border" [(ngModel)]="formData.reservesToday" />
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" [(ngModel)]="formData.reservesToday" class="custom-range custom-range-input"
            id="reservesToday" />
        </div>
      </div> -->

      <div class="row">
        <p class="form-group-title col-md-12">
          Gewünschter Vermögenszuwachs nach 10 Jahren
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="number" min="1" max="1000000" class="form-control no-right-border" [(ngModel)]="formData.desiredProperty" />
          <div class="input-group-append">
            <!-- <span class="input-group-text">€</span> -->
            <span class="input-group-text">{{currency}}</span>
          </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" [(ngModel)]="formData.desiredProperty" class="custom-range custom-range-input"
            id="desiredProperty" />
        </div>
      </div>

      <div class="row mb-4">
        <p class="form-group-title col-md-12">
          Potentieller Investmentbetrag
        </p>
        <div class="input-group col-md-3 mb-5 p-0 pl-1">
          <input type="number" min="1" max="1000000" class="form-control no-right-border" [(ngModel)]="formData.reservesToday" />
          <div class="input-group-append">
            <span class="input-group-text">{{currency}}</span>
          </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-8 mb-4 p-0 pl-1">
          <input type="range" min="1" max="1000000" class="custom-range custom-range-input" [(ngModel)]="formData.reservesToday"
            id="spend" value="1" />
        </div>
      </div>

      <div class="row buttons-container">
        <div class="col col col-md-6 col-sm-6 text-center">
          <button type="button" class=" btn-green large-btn" (click)="nextNBack(back)">
            <i class="fa fa-chevron-left pl-2" aria-hidden="true"></i> &nbsp; &nbsp; Zurück
          </button>
        </div>
        <div class="col col col-md-6 col-sm-6 text-center">
          <button type="button" class=" btn-green large-btn" (click)="nextNBack(next)">
            Nächster Schritt
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="step-3 step" *ngIf="stepNumber == 4">
      <p class="form-title">Ihre Kontaktdaten</p>
      <p class="text-center pt-2">
        Ihre Investmentanalyse wird erstellt.
      </p>
      <p class="text-center pt-1">Wer soll die Auswertung erhalten?</p>

      <div class="text-center pt-4">
        <span class="radio-inline mr-3">
          <input type="radio" id="female" name="optradio" [(ngModel)]="formData.gender" [value]="1" />
          <label for="female">Frau</label>
        </span>
        <span class="radio-inline">
          <input type="radio" id="male" name="optradio" [(ngModel)]="formData.gender" [value]="2" />
          <label for="male">Herr</label>
        </span>
      </div>

      <div class="text-center pt-4 row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="vorname" placeholder="Vorname*" [(ngModel)]="formData.firstName" />
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="nachname" placeholder="Nachname*" [(ngModel)]="formData.lastName" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" [(ngModel)]="formData.email" id="email" placeholder="E-Mail-Adresse*" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="teleNumber" [(ngModel)]="formData.teleNumber" placeholder="Telefonnummer*" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" style="text-align: right; font-size: 12px; opacity: 0.5; margin-top: -12px">
          * Pflichtfeld
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8 checkbox-container">
          <input type="checkbox" value="" [(ngModel)]="formData.acceptCond" id="acceptCond" />
          <label for="acceptCond" class="small-font genereic-text">Ich habe die Datenschutzerklärung gelesen und
            willige ein, dass meine personenbezogenen Daten zur Kontaktaufnahme und Zusendung von Informationen
            verarbeitet werden. Ich kann diese Einwilligung jederzeit mit einer E-Mail an info@verumvest.com
            widerrufen.</label>
        </div>
      </div>

      <div class="text-center pt-4">
        <button type="submit" class="large-btn btn-green" (click)="getPdf()" [disabled]="formData.email == ''">
          Absenden <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 5">
      <div class="row">
        <div class="col text-center p-t-5">
          <h6>Vielen Dank für ihre Angaben</h6>
          <span class="genereic-text">Hallo {{formData.firstName}} {{formData.lastName}},</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding">
            <span class="genereic-text">
              schön dass Sie den Renditerechner genutzt haben. Wir
              freuen uns sehr über Ihr
              Interesse an Immobilieninvestments.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center p-t-5">
          <span class="genereic-text">
            Ihre kostenfreie Investmentanalyse senden wir Ihnen an folgende E-Mail Adresse:
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col p-t-5">
          <h6 class="display-email text-center">
            {{formData.email}}
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="http://facebook.com/verumvest">
            <img class="facebook-logo" src="assets/img/facebook-logo.jpg" alt="flag-a" width="100%">
          </a>
        </div>
        <div class="col-md-6 newsletter-box">
          <div class="newsletter-box"></div>
          <div class="newsletter-box-subheading">
            <span>
              Unseren Newsletter abonnieren und keine News verpassen!
            </span>
          </div>
          <div class="text-center">
            <h6>Jetzt eintragen ></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>