<div class="section user-info">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(back)>Back</button>
      </div>
      <div class="col text-center">
        <span class="dot" [ngClass]="[stepNumber == 1 ? 'active' : 'inactive']" (click)=goToStep(1)>1</span>
        <span class="dot" [ngClass]="[stepNumber == 2 ? 'active' : 'inactive']" (click)=goToStep(2)>2</span>
        <!-- <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)=goToStep(3)>3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)=goToStep(4)>4</span> -->
        <span class="dot" [ngClass]="[stepNumber == 3 ? 'active' : 'inactive']" (click)=goToStep(3)>3</span>
        <span class="dot" [ngClass]="[stepNumber == 4 ? 'active' : 'inactive']" (click)=goToStep(4)>4</span>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(next)>Next</button>
      </div>
    </div>
    <div class="row step step-1" *ngIf="stepNumber == 0">
      <div class="col-md-4 col-sm-12 step-1-col">
        <div class="step-1-elem" (click)=stepOneBlock(step1elem1)>
          <ul class="step-1-ul">
            <li>
              <p class="step-1-p-text">Ich bin Single</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich bin 20 - 30 Jahre alt </p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe keine Kinder </p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe bisher nicht in Immobilien investiert </p>
            </li>
            <li>
              <p class="step-1-p-text">Ich gehe ungern Investment Risiken ein </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 step-1-col">
        <div class="step-1-elem" (click)=stepOneBlock(step1elem2)>
          <ul class="step-1-ul">
            <li>
              <p class="step-1-p-text">Ich bin in einer Beziehung</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich bin 30 - 40 Jahre alt </p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe 1 -2 Kinder</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe bereits in 1 -2 Immobilien investiert</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich gehe Investment Risiken ein, wenn Sie transparent sind</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 step-1-col">
        <div class="step-1-elem" (click)=stepOneBlock(step1elem3)>
          <ul class="step-1-ul">
            <li>
              <p class="step-1-p-text">Ich bin verheiratet</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich bin 30 - 40 Jahre alt</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe 1 -2 Kinder</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich habe bereits in 1 -2 Immobilien investiert</p>
            </li>
            <li>
              <p class="step-1-p-text">Ich gehe Investment Risiken ein, wenn dies die Rendite-Chance erhöht</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="step-2 step shadow" *ngIf="stepNumber == 1">
      <p class="form-title">Fragen zu Iher Person</p>
      <form onsubmit="submitForm()" class="form-container">
        <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Familienstand</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="optradio" /> Ich bin Single
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Ich lebe in einer Beziehung
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Ich bin verheiratet
          </label>
        </div>

        <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Alter</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="optradio" /> 20-35 Jahre
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> 36-45 Jahre
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> 46-60 Jahre
          </label>
        </div>

        <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">Kinder</p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="optradio" /> Kaine Kinder
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> 1-2 Kinder
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> 2-4 Kinder
          </label>
        </div>

        <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">
            Erfahrung Immobilien Investitionem
          </p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="optradio" /> Kaine Erfahrung
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Bereits in 1-2 Immobilien
            Investiert
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Bereits in 3-4 Immobilien
            Investiert
          </label>
        </div>

        <div class="row row-container">
          <p class="form-group-title col-md-12 ml-2">
            Risikobereitschaft
          </p>
          <label class="radio-inline col-md-2 mb-3">
            <input type="radio" name="optradio" /> Ungern Risiko
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Ja. wenn Risiken transparent sind
            Investiert
          </label>
          <label class="radio-inline col-md-4 mb-3">
            <input type="radio" name="optradio" /> Ja. wenn dies die Rendite-Chance
            erhoht
          </label>
        </div>

        <div class="buttons-container">
          <button type="button" class="large-btn btn-green">
            Zuruck <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
          <button type="submit" class="large-btn btn-green right-side">
            Nachster Schritt
            <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 2">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="bd-highlight">
              <div class="input-col">
                <label for="customRange1" class="white-text">Meine Rücklagen heute</label>
                <input type="range" min="1" max="1000000" [(ngModel)]="reserveToday" class="custom-range custom-range-input"
                  id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" [(ngModel)]="reserveToday" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="bd-highlight">
              <div class="input-col">
                <label for="customRange1" class="white-text">Wie gross soll Dein Vermögen nach 10 Jahren sein?</label>
                <input type="range" min="1" max="1000000" [(ngModel)]="assetIn10" class="custom-range custom-range-input"
                  id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" [(ngModel)]="assetIn10" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="bd-highlight">
              <div class="">
                <label for="customRange1" class="white-text">Was würdest Du heute für Dein Vermögensaufbau
                  investieren?</label>
                <input type="range" min="1" max="1000000" [(ngModel)]="assetAccumulation" class="custom-range custom-range-input"
                  id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" [(ngModel)]="assetAccumulation" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="step-3 step" *ngIf="stepNumber == 3">
      <div class="row">
        <div class="col text-center">
          <h6 class="white-text">Warum solltest Du in Immobilien investieren?</h6>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-danger" (click)="showGraphType('sparenZinsen')">Sparen mit Zinsen</button>
          <button type="button" class="btn btn-primary" (click)="showGraphType('investmentsAktien')">Investments mit
            Aktien</button>
          <button type="button" class="btn btn-warning" (click)="showGraphType('investmentsImmobilien')">Investments
            mit Immobilien</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="chart-container">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" class="chart-canvas" [colors]="chartColors"></canvas>
          </div>
          
        </div>
      </div>
    </div> -->
    <!-- step 5 -->
    <!-- <div class="step-3 step" *ngIf="stepNumber == 4">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <div class="input-col">
                <label for="customRange1" class="white-text">Eingesetztes Kapital für Ihren Vermögensaufbau
                </label>
                <input type="range" [(ngModel)]="capitalEmployed" class="custom-range custom-range-input" id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" min="1" max="100000000" [(ngModel)]="capitalEmployed" class="form-control"
                      aria-label="Amount (to the nearest dollar)" (change)="changeModel()">
                  </div>
                </div>

              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div class="input-col">
                <label for="customRange1" class="white-text">Maximalwert von zu beantragendem Fremdkapital </label>
                <input type="range" min="1" max="9000000" [(ngModel)]="maximumDebt" class="custom-range custom-range-input"
                  id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" [(ngModel)]="maximumDebt" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>

              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div class="input-col">
                <label for="customRange1" class="white-text">Sie können sich eine Immobilie leisten für
                </label>
                <input type="range" [(ngModel)]="affordProperty" class="custom-range custom-range-input" id="customRange1">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text fa fa-euro"></span>
                    </div>
                    <input type="number" [(ngModel)]="affordProperty" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="d-flex flex-column">
            <div class="p-2 text-center">
              <img src="assets/img/house.jpeg" alt="flag-a" class="">
            </div>
            <div class="p-2">
              <span class="white-text">Wert Immo in Euro: </span>
              <span class="white-text pull-right">120000</span>
            </div>
            <div class="p-2">
              <span class="white-text"> Quadratmeter: </span>
              <span class="white-text pull-right">2000</span>
            </div>
            <div class="p-2">
              <span class="white-text"> Wie viele Wohnungen: </span>
              <span class="white-text pull-right">3</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="step-3 step" *ngIf="stepNumber == 3">
      <p class="form-title">Fragen zu Iher Person</p>
      <p class="text-center pt-2">
        Der Marktwert Ihrer Immobilie wird nun berechnet.
      </p>
      <p class="text-center pt-1">Wer soll die Auswertung erhalten?</p>

      <div class="text-center pt-4">
        <label class="radio-inline mr-3">
          <input type="radio" name="optradio" /> Frau
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" /> Herr
        </label>
      </div>

      <div class="text-center pt-4 row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="vorname" placeholder="Vorname*" />
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="nachname" placeholder="Nachname*" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="email" placeholder="E-Mail-Adresse*" />
        </div>
      </div>

      <div class="text-center row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="teleNumber" placeholder="Telefonnummer*" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" style="text-align: right; font-size: 12px; opacity: 0.5; margin-top: -12px">
          Pflichtfeld
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8 checkbox">
          <label>
            <input type="checkbox" value="" />
            <span class="pl-1 small-font">
              Ich habe die Datenschutzerklarung gelesen und willige ein. class meine
              personenbezogenen Daten zur Kontaktaufnahme und Zusendung von
              Informationen verarbeitet werden. Ich kann diese Einwilligung jederzeit
              mit einer E-Mail an info@verumvest.com widerrufen.
            </span>
          </label>
        </div>
      </div>

      <div class="text-center pt-4">
        <button type="submit" class="large-btn btn-green">
          Absenden <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="step-3 step" *ngIf="stepNumber == 4">
      <div class="row">
        <div class="col text-center p-t-5">
          <h6>Veilen DankFur lhre Angaben</h6>
          <span>Hallo Max Mustermann,</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center text-padding">
            <span>
              danke das Sie unseren Finanztest erfolgreich abgeschlossen haben. Wir freuen uns sehr daruber, dass Sie
              sich fur Immobilieninvestments interessieren.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center p-t-5">
          <span>
            Sie erhalten Ihre kostenfreie Investmentanalyse an folgende E-Mail-Adresse:
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col text-center p-t-5">
          <h6>
            max.mustermann@muster.de
          </h6>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col text-left">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(back)>Back</button>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-success btn-round" (click)=nextNBack(next)>Next</button>
      </div>
    </div> -->
  </div>
</div>